/* 
    Created on : 09-02-2015, 17:05:04
    Author     : jarimos
*/

.buttonGuestbook {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonGuestbook:hover {background-color: #3e8e41}

.buttonGuestbook:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.allContentWrapperGuessBook
{
    padding:6px;
    min-width:200px;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}


#myEditableDivGuestBook_Message
{	
    min-width:200px;
    max-width:400px;
    min-height:100px;
    padding:10px;
    margin-right:2px;

    font:italic 20px Georgia,serif;
    
    border:solid 2px grey;
    word-wrap: break-word;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


.buttonGuestbook {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#mainTextWrapperVisitas{margin-top:14px;}
.dateGuestbook
{
	text-align:right;
    font: 15px Courier New;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 6px;
}
.myGuessBookNamesDiv 
{
    width:100%;

    
    font-weight:bold;
    background-color: #B0C4DE;



}   
.myPostGuestBook
{
    font:italic 16px Georgia,serif;
    word-wrap:break-word;
    min-width:200px;
    max-width:400px;
    margin-bottom:20px;
    padding-top:0px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:7px;
    
    background-color:#B0C4DE; 
	
	    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;


}
/* #F0F8FF
 #A9A9A9
lightcoral; lightpink;     border:solid 2px grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	    border:solid 1px grey;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	*/

  


/******MESSAGES OVERLAY******/

#divAllMessagesWrapper
{
    position:relative;
    width:230px;	
    top:10%;
    left:20%;
    right:20%;
    overflow:visible;
    z-index:9998;
    background-color:black;
    border-top:solid 2px grey;
}

#divAllMessages
{

    position:absolute;
    top:40px;
    z-index:9998;
    padding-right:15px;
    background-color:black;
    font:italic 40px Georgia,serif;
    color:white;

}

#overlayMessages
{
    display:none;
    width:100%;
    height:100%;
    background:#000;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    z-index:1000;

}


/******END MESSAGES OVERLAY******/






/******STATUS OVERLAY******/

#divLoadingStatus
{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    z-index:9000;
    padding:8px;
    font:italic 20px Georgia,serif;
    color:white;

}
/*background-color:black;
background:#000;*/
#overlayStatus
{
    display:none;
    width:100%;
    height:100%;
    
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    z-index:1000;

}


/******EN STATUS OVERLAY******/
        